<div *ngIf="!loggedIn" class="login-form-container">
  <noodle-login class="login-form" (login)="onLogin($event)" [submitted]="submitted" [loading]="loggingIn"></noodle-login>
</div>
<div *ngIf="loggedIn">
<noodle-header class="header">
  <ng-template ngHeaderLogo>
      <a href="/home">
        <img class="logo" src="../assets/angular.svg" >
      </a>
  </ng-template>
  <ng-template ngHeaderMenu>
      <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Docs</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
      </li>
  </ng-template>
  <ng-template ngHeaderProfile>
      <div class="dropdown my-profile">
          <button class="btn" type="button">
            <img class="profile" src="../assets/avatar.jpg">
          </button>
          <div class="dropdown-menu  dropdown-menu-right">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </div>
  </ng-template>
</noodle-header>
<noodle-side-bar-container>
  <noodle-side-bar>
    <ng-template ngSideBarMenu>
      <div class="sidebar-header">
          <h3>Sidebar</h3>
      </div>

      <ul class="list-unstyled components">
          <li>
              <a href="#">Page 1</a>
          </li>
          <li>
              <a href="#">Page 2</a>
          </li>
          <li>
              <a href="#">Page 3</a>
          </li>
      </ul>
    </ng-template>
    <ng-template ngSideBarContent>
        <button type="button" class="btn btn-info" (click)="toggleSidebar()">
            <span>Toggle Sidebar</span>
        </button>
    </ng-template>
  </noodle-side-bar>
</noodle-side-bar-container>
<noodle-footer>
  <p> Super-powered by KMS ©2019. Code licensed under an <a href="license" title="License text">MIT-style License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </p>
  <p>
    Version 1.0
  </p>
</noodle-footer>
</div>
